@import './base.css';

@layer utilities {
  .image-rendering-pixelated {
    image-rendering: pixelated;
  }
}

button {
  cursor: default;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
