:root {
  --color-primary-10: #F64444;
  --color-primary-20: #EC0C0C;
  --color-primary-30: #BD0000;
  --color-primary-40: #9A0000;
  --color-primary-50: #6F0000;

  --color-secondary-10: #FFE4B5;
  --color-secondary-20: #FFD58A;
  --color-secondary-30: #D79F3B;
  --color-secondary-40: #B17C1D;
  --color-secondary-50: #B17C1D;

  --color-gray-5: #f5f5f5;
  --color-gray-10: #d4d4d4;
  --color-gray-20: #ababab;
  --color-gray-30: #838383;
  --color-gray-40: #5e5e5e;
  --color-gray-50: #3b3b3b;
  --color-gray-60: #303030;
  --color-gray-70: #262626;
  --color-gray-80: #1b1b1b;
  --color-gray-90: #111111;
}
